@import '_reset'
@import '_variables'

@font-face
    font-family: 'Bison'
    src: url(../font/bison.ttf)
    font-weight: normal
    font-style: normal

body
    font-family:'Bison'

header
    border-bottom: solid $line-width $black
    font-size: $font
    display: flex
    justify-content: space-between
    padding: 20px 50px

.container
    display: flex
    height: $full

.left
    width: $mid

.right
    width: $mid